.cui .btn.btn--light {
  border: 1px solid transparent;
  background: var(--cui-background-alt);
  color: var(--cui-inactive-color);
  transition: all 0.15s ease-in;
}
.cui .btn.btn--light.hover,
.cui .btn.btn--light:hover {
  color: var(--cui-active-color);
  text-decoration: none;
  /* border: var(--cui-border-thickness) solid var(--cui-accent-color); */
  box-shadow: inset 0 0 0 1px var(--cui-accent-color);
  transition: all 0.15s ease-in;
}
.cui .btn.btn--light.focus,
.cui .btn.btn--light:focus {
  box-shadow: 0 0 0 var(--cui-focus-thickness)
      rgba(var(--cui-focus-color), var(--cui-focus-opacity)),
    inset 0 0 0 1px var(--cui-accent-color);
  opacity: 1;
  outline: var(--cui-focus-thickness) transparent;
  outline-offset: 1px;
  outline-width: thin;
  outline-style: none;
}
.cui .btn.btn--light.disabled,
.cui .btn.btn--light[disabled] {
  background-color: transparent;
  border: 1px dotted var(--cui-inactive-color);
  color: var(--cui-inactive-color);
  opacity: 1;
}
.cui .btn.btn--light.active,
.cui .btn.btn--light.selected,
.cui .btn.btn--light:active {
  background-color: var(--cui-accent-color);
  box-shadow: inset 0 0 0 1px var(--cui-accent-color);
  color: var(--cui-color-dark);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.cui .btn-group > .btn.btn--light:active,
.cui .btn-group > .btn.btn--light:focus,
.cui .btn-group > .btn.btn--light:hover,
.cui .btn-group > .dropdown > .btn.btn--light:active,
.cui .btn-group > .dropdown > .btn.btn--light:focus,
.cui .btn-group > .dropdown > .btn.btn--light:hover {
  outline: 0;
  box-shadow: inset 0 0 0 1px var(--cui-accent-color);
}
