
.cui .form-group__text > .labeled > .input-label {
    height: calc(var(--cui-form-size) - 2px);
    max-height: calc(var(--cui-form-size) - 2px);
    padding: var(--cui-form-padding);
    border: none;
    border-bottom-right-radius: 0;
    background-color: var(--cui-background-selected);
  }
  
  .cui .form-group__text > .labeled input {
    border: none !important;
    border-radius: 0 !important;
    height: calc(var(--cui-form-size) - 2px) !important;
    max-height: calc(var(--cui-form-size) - 2px) !important;
    min-height: calc(var(--cui-form-size) - 2px) !important;
    padding: var(--cui-form-padding) !important;
  }
  
  .cui .form-group__text > .labeled input:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .cui .form-group__text > .labeled {
    border-radius: var(--cui-border-radius);
    border: var(--cui-border);
    flex-shrink: 0;
    order: 3;
    transition: all var(--cui-animate-speed) var(--cui-animate-timing-function) !important;
  }
  .cui .form-group__text > .labeled:hover,
  .cui .form-group__text > .labeled:focus-within {
    border-color: var(--cui-accent-color);
  }
  .cui .form-group__text > .labeled:focus-within {
    box-shadow: 0 0 0 var(--cui-focus-thickness)
      rgba(var(--cui-focus-color), var(--cui-focus-opacity));
    opacity: 1;
    outline: transparent var(--cui-focus-thickness);
    outline-offset: 1px;
    outline-width: thin;
    outline-style: none;
  }
  
  .cui .form-group__text > .labeled .dropdown.input-label a {
    color: var(--cui-form-value-color);
  }