
@-webkit-keyframes fade-out {
    from {
      opacity: 1; }
    100% {
      opacity: 0; } }
  
  @keyframes fade-out {
    from {
      opacity: 1; }
    100% {
	  opacity: 0; } }
	  
.cui .modal-backdrop {
	background: rgba(196, 199, 204, .65);
	pointer-events: all;
	opacity: 1;
	transition: opacity .15s linear;
	outline: none;
}

.cui .modal-backdrop--before-close .modal__dialog {
    -webkit-animation: blowdown 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards, fade-out 0.25s 1 linear !important;
            animation: blowdown 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards, fade-out 0.25s 1 linear !important;
}

.cui .modal-backdrop--before-close {
    opacity: 0 !important;
}

.cui .modal .modal__content div.modal__close > a {
  color: var(--cui-inactive-color);
}

.cui .modal .modal__content div.modal__close > a:hover {
  color: var(--cui-active-color);
  text-decoration: none;
}