@import "../node_modules/react-toastify/dist/ReactToastify.css";

.cui .Toastify__toast {
    min-height: unset !important;
    padding: unset;
    overflow: unset;
    font-family: unset;
    box-shadow: var(--cui-shadow-outset-lg);
}

.cui .Toastify__toast.toast--shadow-md {
    box-shadow: var(--cui-shadow-outset);
}

.cui .Toastify__toast.toast--shadow-sm {
    box-shadow: var(--cui-shadow-outset-sm);
}

.cui .Toastify__toast-container {
    color: unset;
    background: unset;
}

.cui .Toastify__toast--default {
    color: unset;
    background: unset;
}

.cui .Toastify__toast-body {
    padding: 0;
}

.cui .Toastify__toast .toast {
    box-shadow: unset;
}

.cui .toast.toast--bordered, .cui .toast--bordered .toast {
    border: var(--cui-border);
}