.cui .Toastify__toast {
    min-height: unset !important;
    padding: unset;
    overflow: unset;
    font-family: unset;
    box-shadow: unset;
}

.cui .Toastify__toast-container {
    color: unset;
}

.cui .Toastify__toast--default {
    color: unset;
}