{
    "presets": [
      ["@babel/env", {
        "modules": false,
        "targets": {
          "node": "current",
          "chrome": "58",
          "firefox": "53"
      }
      }],
      "@babel/react"
    ]
  }
  